<div class="container">

    <h5 class="mt-3">My Review List</h5>

    <div  *ngIf="restaurantId > 0" class="d-flex justify-content-between mt-3">
        <!-- <div></div> -->
        <button class="btn btn-primary" (click)="goToAddReview()">Add Review</button>
    </div>

    <ng-container>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>User Name</th>
                    <th>Restaurant Name</th>
                    <th>Area</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Review Time</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!userReviews || userReviews.length === 0">
                    <td colspan="8" class="text-center">No record to display</td>
                </tr>
                <tr *ngFor="let userReview of userReviews; let i = index" class="align-middle">
                    <td>{{ (request.pageNumber - 1) * request.pageSize + i + 1 }}</td>
                    <td>{{userReview.userName}}</td>
                    <td>{{userReview.restaurantName}}</td>
                    <td>{{userReview.locationName}}</td>
                    <td>{{userReview.rating}}</td>
                    <td>{{userReview.comment}}</td>
                    <td>{{userReview.reviewTime | date: 'dd/MM/yyyy, hh:mm:ss a'}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning" (click)="goToEditReview(userReview.id)">Edit</button>
                        <!-- <a class="btn btn-warning" [routerLink]="['/review/edit']" [queryParams]="{ id: userReview.id }">Edit</a> -->
                        <button type="button" class="btn btn-danger ms-2" (click)="onDelete(userReview.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination [pageNumber]="request.pageNumber" [totalPage]="totalPage" (pageChanged)="getPage($event)" />

    </ng-container>

</div>