<div class="container">

    <h5 class="mt-3">My Check In List</h5>

    <ng-container>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>User Name</th>
                    <th>Restaurant Name</th>
                    <th>Area</th>
                    <th>Check In Time</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!userCheckIns || userCheckIns.length === 0">
                    <td colspan="6" class="text-center">No record to display</td>
                </tr>
                <tr *ngFor="let userCheckIn of userCheckIns; let i = index" class="align-middle">
                    <td>{{i + 1}}</td>
                    <td>{{userCheckIn.userName}}</td>
                    <td>{{userCheckIn.restaurantName}}</td>
                    <td>{{userCheckIn.area}}</td>
                    <td>{{userCheckIn.checkInTime | date: 'dd/MM/yyyy, hh:mm:ss a'}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger ms-2" (click)="onDelete(userCheckIn.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </ng-container>

</div>