<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand"><strong>Food Review Platform</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Home</strong></a>
        </li>
        <li *ngIf="user && user.roles.includes(userRole.User)" class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/user-review']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Review</strong></a>
        </li>
        <li *ngIf="user && user.roles.includes(userRole.User)" class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/user-check-in']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Check In</strong></a>
        </li>
      </ul>

      <div class="d-flex">
        @if(!user) {
        <ng-container>
          <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
          <a [routerLink]="['/register']" class="btn btn-secondary ms-2">Register</a>
        </ng-container>
        }
        @else {
        <ng-container>
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>{{ user.email }}</strong>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item disabled"><strong>{{ user.email }}</strong></button>
              </li>
              <li><button class="dropdown-item" (click)="goToUserSettings()"><strong>Settings</strong></button></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><button class="btn btn-danger w-100" (click)="onLogout()"><strong>Logout</strong></button></li>
            </ul>
          </div>
        </ng-container>
        }
      </div>

    </div>
  </div>
</nav>
