<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand"><strong>Food Review Platform</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Home</strong></a>
        </li>
        <li *ngIf="user !== undefined" class="nav-item">
          <a class="nav-link" [routerLink]="['/user-review']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Review</strong></a>
        </li>
        <li *ngIf="user !== undefined" class="nav-item">
          <a class="nav-link" [routerLink]="['/user-check-in']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"><strong>Check In</strong></a>
        </li>
      </ul>


      <div class="d-flex">
        <ng-container *ngIf="user === undefined;else showLogout">
          <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
          <a [routerLink]="['/register']" class="btn btn-secondary ms-2">Register</a>
        </ng-container>

        <ng-template #showLogout>
          <div class="d-flex align-items-center">
            <span><strong>{{user?.email}}</strong></span>
            <button class="btn btn-danger ms-3" (click)="onLogout()">Logout</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>